/*:::::::::::::::::::::::::::::::::::::::::::::::::::*/
/* START::::-DO:NOT:REMOVE/EDIT:THESE:IMPORTS-:::::::*/
/*:::::::::::::::::::::::::::::::::::::::::::::::::::*/
@import "fonts";
@import "vendor/styles/globals";
/*:::::::::::::::::::::::::::::::::::::::::::::::::::*/
/* END::::::-DO:NOT:REMOVE/EDIT:THESE:IMPORTS-:::::::*/
/*:::::::::::::::::::::::::::::::::::::::::::::::::::*/

/*:::::::::::::::::::::::::::::::::::::::::::::::::::*/
/*:::::::::|ADD:NEW:STYLES:FROM:HERE|::::::::::::::::*/
/*:::::::::::::::::::::::::::::::::::::::::::::::::::*/

/* example: place here global styles */
.app-title {
  font-family: Hello-Headline-Regular;
  font-style: normal;
  font-weight: bolder;
  font-size: 3em;
  line-height: 40px;
  color: $orange;
}

.app-text {
  font-family: Hello-Headline-Regular;
  font-style: normal;
  font-weight: 250;
  font-size: 1rem;
  line-height: 40px;
  color: $light;
}


