@font-face {
  font-family: "Hello-Headline-Regular";
  src: url("../../public/fonts/Hello-Headline-Regular.ttf");
}


.Font-Hello-Headline-Regular {
  font-family: Hello-Headline-Regular;
  font-style: normal;
  font-weight: bold;
  letter-spacing: -0.5px;
}

